.header {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: 500;
    font: bold;
    width: 100%;
    font-size: x-large;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    border: 2px solid blue;

}


.header a {
    text-decoration: none;
    margin-left: 15px;
    margin-left: 15px;
}

.header-name {
    margin: 20px;
}